.dark {
  --jv-theme-primary: rgb(121 214 204);
  --jv-theme-surface-tint: rgb(121 214 204);
  --jv-theme-on-primary: rgb(0 55 51);
  --jv-theme-primary-container: rgb(6 125 117);
  --jv-theme-on-primary-container: rgb(199 255 248);
  --jv-theme-secondary: rgb(170 206 200);
  --jv-theme-on-secondary: rgb(20 54 50);
  --jv-theme-secondary-container: rgb(46 79 75);
  --jv-theme-on-secondary-container: rgb(156 191 186);
  --jv-theme-error: rgb(255 180 171);
  --jv-theme-on-error: rgb(105 0 5);
  --jv-theme-error-container: rgb(147 0 10);
  --jv-theme-on-error-container: rgb(255 218 214);
  --jv-theme-background: rgb(16 20 20);
  --jv-theme-on-background: rgb(223 227 226);
  --jv-theme-surface: rgb(16 20 20);
  --jv-theme-on-surface: rgb(223 227 226);
  --jv-theme-surface-variant: rgb(62 73 71);
  --jv-theme-on-surface-variant: rgb(189 201 198);
  --jv-theme-outline: rgb(135 147 145);
  --jv-theme-outline-variant: rgb(62 73 71);
  --jv-theme-shadow: rgb(0 0 0);
  --jv-theme-scrim: rgb(0 0 0);
  --jv-theme-inverse-surface: rgb(223 227 226);
  --jv-theme-inverse-on-surface: rgb(45 49 48);
  --jv-theme-inverse-primary: rgb(0 106 99);
  --jv-theme-primary-fixed: rgb(150 243 233);
  --jv-theme-on-primary-fixed: rgb(0 32 29);
  --jv-theme-primary-fixed-dim: rgb(121 214 204);
  --jv-theme-on-primary-fixed-variant: rgb(0 80 75);
  --jv-theme-secondary-fixed: rgb(198 234 228);
  --jv-theme-on-secondary-fixed: rgb(0 32 29);
  --jv-theme-secondary-fixed-dim: rgb(170 206 200);
  --jv-theme-on-secondary-fixed-variant: rgb(44 76 73);
  --jv-theme-tertiary-fixed: rgb(237 220 255);
  --jv-theme-on-tertiary-fixed: rgb(38 11 72);
  --jv-theme-tertiary-fixed-dim: rgb(215 186 255);
  --jv-theme-on-tertiary-fixed-variant: rgb(83 59 118);
  --jv-theme-surface-dim: rgb(16 20 20);
  --jv-theme-surface-bright: rgb(53 58 57);
  --jv-theme-surface-container-lowest: rgb(10 15 14);
  --jv-theme-surface-container-low: rgb(24 28 28);
  --jv-theme-surface-container: rgb(28 33 32);
  --jv-theme-surface-container-high: rgb(38 43 42);
  --jv-theme-surface-container-highest: rgb(49 54 53);
  --jv-theme-info-color: rgb(173 198 255);
  --jv-theme-info-on-color: rgb(0 46 105);
  --jv-theme-info-color-container: rgb(0 92 196);
  --jv-theme-info-on-color-container: rgb(205 219 255);
  --jv-theme-warning-color: rgb(255 181 151);
  --jv-theme-warning-on-color: rgb(88 29 0);
  --jv-theme-warning-color-container: rgb(240 102 31);
  --jv-theme-warning-on-color-container: rgb(23 4 0);
  --jv-theme-success-color: rgb(114 221 118);
  --jv-theme-success-on-color: rgb(0 57 12);
  --jv-theme-success-color-container: rgb(0 129 39);
  --jv-theme-success-on-color-container: rgb(211 255 204);
}
