.dark-medium-contrast {
  --jv-theme-primary: rgb(144 237 226);
  --jv-theme-surface-tint: rgb(121 214 204);
  --jv-theme-on-primary: rgb(0 43 40);
  --jv-theme-primary-container: rgb(63 159 150);
  --jv-theme-on-primary-container: rgb(0 0 0);
  --jv-theme-secondary: rgb(192 228 222);
  --jv-theme-on-secondary: rgb(7 43 40);
  --jv-theme-secondary-container: rgb(117 151 147);
  --jv-theme-on-secondary-container: rgb(0 0 0);
  --jv-theme-error: rgb(255 210 204);
  --jv-theme-on-error: rgb(84 0 3);
  --jv-theme-error-container: rgb(255 84 73);
  --jv-theme-on-error-container: rgb(0 0 0);
  --jv-theme-background: rgb(16 20 20);
  --jv-theme-on-background: rgb(223 227 226);
  --jv-theme-surface: rgb(16 20 20);
  --jv-theme-on-surface: rgb(255 255 255);
  --jv-theme-surface-variant: rgb(62 73 71);
  --jv-theme-on-surface-variant: rgb(211 223 220);
  --jv-theme-outline: rgb(168 180 178);
  --jv-theme-outline-variant: rgb(135 147 144);
  --jv-theme-shadow: rgb(0 0 0);
  --jv-theme-scrim: rgb(0 0 0);
  --jv-theme-inverse-surface: rgb(223 227 226);
  --jv-theme-inverse-on-surface: rgb(38 43 42);
  --jv-theme-inverse-primary: rgb(0 81 76);
  --jv-theme-primary-fixed: rgb(150 243 233);
  --jv-theme-on-primary-fixed: rgb(0 20 18);
  --jv-theme-primary-fixed-dim: rgb(121 214 204);
  --jv-theme-on-primary-fixed-variant: rgb(0 62 57);
  --jv-theme-secondary-fixed: rgb(198 234 228);
  --jv-theme-on-secondary-fixed: rgb(0 20 18);
  --jv-theme-secondary-fixed-dim: rgb(170 206 200);
  --jv-theme-on-secondary-fixed-variant: rgb(26 60 56);
  --jv-theme-tertiary-fixed: rgb(237 220 255);
  --jv-theme-on-tertiary-fixed: rgb(27 0 61);
  --jv-theme-tertiary-fixed-dim: rgb(215 186 255);
  --jv-theme-on-tertiary-fixed-variant: rgb(66 41 100);
  --jv-theme-surface-dim: rgb(16 20 20);
  --jv-theme-surface-bright: rgb(65 69 68);
  --jv-theme-surface-container-lowest: rgb(5 8 8);
  --jv-theme-surface-container-low: rgb(26 30 30);
  --jv-theme-surface-container: rgb(36 41 40);
  --jv-theme-surface-container-high: rgb(47 52 51);
  --jv-theme-surface-container-highest: rgb(58 63 62);
  --jv-theme-info-color: rgb(207 220 255);
  --jv-theme-info-on-color: rgb(0 36 84);
  --jv-theme-info-color-container: rgb(82 143 249);
  --jv-theme-info-on-color-container: rgb(0 0 0);
  --jv-theme-warning-color: rgb(255 211 194);
  --jv-theme-warning-on-color: rgb(71 22 0);
  --jv-theme-warning-color-container: rgb(240 102 31);
  --jv-theme-warning-on-color-container: rgb(0 0 0);
  --jv-theme-success-color: rgb(136 244 138);
  --jv-theme-success-on-color: rgb(0 45 8);
  --jv-theme-success-color-container: rgb(57 165 70);
  --jv-theme-success-on-color-container: rgb(0 0 0);
}
