.light-high-contrast {
  --jv-theme-primary: rgb(0 50 47);
  --jv-theme-surface-tint: rgb(0 106 99);
  --jv-theme-on-primary: rgb(255 255 255);
  --jv-theme-primary-container: rgb(0 83 77);
  --jv-theme-on-primary-container: rgb(255 255 255);
  --jv-theme-secondary: rgb(15 49 46);
  --jv-theme-on-secondary: rgb(255 255 255);
  --jv-theme-secondary-container: rgb(46 79 75);
  --jv-theme-on-secondary-container: rgb(255 255 255);
  --jv-theme-tertiary: rgb(55 31 90);
  --jv-theme-on-tertiary: rgb(255 255 255);
  --jv-theme-tertiary-container: rgb(86 61 121);
  --jv-theme-on-tertiary-container: rgb(255 255 255);
  --jv-theme-error: rgb(96 0 4);
  --jv-theme-on-error: rgb(255 255 255);
  --jv-theme-error-container: rgb(152 0 10);
  --jv-theme-on-error-container: rgb(255 255 255);
  --jv-theme-background: rgb(246 250 248);
  --jv-theme-on-background: rgb(24 28 28);
  --jv-theme-surface: rgb(246 250 248);
  --jv-theme-on-surface: rgb(0 0 0);
  --jv-theme-surface-variant: rgb(217 229 226);
  --jv-theme-on-surface-variant: rgb(0 0 0);
  --jv-theme-outline: rgb(35 46 45);
  --jv-theme-outline-variant: rgb(64 75 74);
  --jv-theme-shadow: rgb(0 0 0);
  --jv-theme-scrim: rgb(0 0 0);
  --jv-theme-inverse-surface: rgb(45 49 48);
  --jv-theme-inverse-on-surface: rgb(255 255 255);
  --jv-theme-inverse-primary: rgb(121 214 204);
  --jv-theme-primary-fixed: rgb(0 83 77);
  --jv-theme-on-primary-fixed: rgb(255 255 255);
  --jv-theme-primary-fixed-dim: rgb(0 58 54);
  --jv-theme-on-primary-fixed-variant: rgb(255 255 255);
  --jv-theme-secondary-fixed: rgb(46 79 75);
  --jv-theme-on-secondary-fixed: rgb(255 255 255);
  --jv-theme-secondary-fixed-dim: rgb(23 56 53);
  --jv-theme-on-secondary-fixed-variant: rgb(255 255 255);
  --jv-theme-tertiary-fixed: rgb(86 61 121);
  --jv-theme-on-tertiary-fixed: rgb(255 255 255);
  --jv-theme-tertiary-fixed-dim: rgb(62 38 97);
  --jv-theme-on-tertiary-fixed-variant: rgb(255 255 255);
  --jv-theme-surface-dim: rgb(181 186 184);
  --jv-theme-surface-bright: rgb(246 250 248);
  --jv-theme-surface-container-lowest: rgb(255 255 255);
  --jv-theme-surface-container-low: rgb(238 242 240);
  --jv-theme-surface-container: rgb(223 227 226);
  --jv-theme-surface-container-high: rgb(209 213 212);
  --jv-theme-surface-container-highest: rgb(195 199 198);
  --jv-theme-info-color: rgb(0 42 97);
  --jv-theme-info-on-color: rgb(255 255 255);
  --jv-theme-info-color-container: rgb(0 70 152);
  --jv-theme-info-on-color-container: rgb(255 255 255);
  --jv-theme-warning-color: rgb(81 26 0);
  --jv-theme-warning-on-color: rgb(255 255 255);
  --jv-theme-warning-color-container: rgb(129 46 0);
  --jv-theme-warning-on-color-container: rgb(255 255 255);
  --jv-theme-success-color: rgb(0 52 11);
  --jv-theme-success-on-color: rgb(255 255 255);
  --jv-theme-success-color-container: #005617;
  --jv-theme-success-on-color-container: rgb(255 255 255);
}
