.light {
  color-scheme: light;

  --jv-theme-primary: #00625c;
  --jv-theme-surface-tint: #006a63;
  --jv-theme-on-primary: #fff;
  --jv-theme-primary-container: rgb(6 125 117);
  --jv-theme-on-primary-container: rgb(199 255 248);
  --jv-theme-secondary: rgb(68 100 96);
  --jv-theme-on-secondary: rgb(255 255 255);
  --jv-theme-secondary-container: rgb(198 234 228);
  --jv-theme-on-secondary-container: rgb(74 106 102);
  --jv-theme-error: rgb(186 26 26);
  --jv-theme-on-error: rgb(255 255 255);
  --jv-theme-error-container: rgb(255 218 214);
  --jv-theme-on-error-container: rgb(147 0 10);
  --jv-theme-background: rgb(246 250 248);
  --jv-theme-on-background: rgb(24 28 28);
  --jv-theme-surface: rgb(246 250 248);
  --jv-theme-on-surface: rgb(24 28 28);
  --jv-theme-surface-variant: rgb(217 229 226);
  --jv-theme-on-surface-variant: rgb(62 73 71);
  --jv-theme-outline: rgb(110 121 119);
  --jv-theme-outline-variant: rgb(189 201 198);
  --jv-theme-shadow: rgb(0 0 0);
  --jv-theme-scrim: rgb(0 0 0);
  --jv-theme-inverse-surface: rgb(45 49 48);
  --jv-theme-inverse-on-surface: rgb(238 242 240);
  --jv-theme-inverse-primary: rgb(121 214 204);
  --jv-theme-primary-fixed: rgb(150 243 233);
  --jv-theme-on-primary-fixed: rgb(0 32 29);
  --jv-theme-primary-fixed-dim: rgb(121 214 204);
  --jv-theme-on-primary-fixed-variant: rgb(0 80 75);
  --jv-theme-secondary-fixed: rgb(198 234 228);
  --jv-theme-on-secondary-fixed: rgb(0 32 29);
  --jv-theme-secondary-fixed-dim: rgb(170 206 200);
  --jv-theme-on-secondary-fixed-variant: rgb(44 76 73);
  --jv-theme-tertiary-fixed: rgb(237 220 255);
  --jv-theme-on-tertiary-fixed: rgb(38 11 72);
  --jv-theme-tertiary-fixed-dim: rgb(215 186 255);
  --jv-theme-on-tertiary-fixed-variant: rgb(83 59 118);
  --jv-theme-surface-dim: rgb(215 219 217);
  --jv-theme-surface-bright: rgb(246 250 248);
  --jv-theme-surface-container-lowest: rgb(255 255 255);
  --jv-theme-surface-container-low: rgb(240 244 243);
  --jv-theme-surface-container: rgb(235 239 237);
  --jv-theme-surface-container-high: rgb(229 233 231);
  --jv-theme-surface-container-highest: rgb(223 227 226);
  --jv-theme-info-color: #004597;
  --jv-theme-info-on-color: rgb(255 255 255);
  --jv-theme-info-color-container: rgb(0 92 196);
  --jv-theme-info-on-color-container: rgb(205 219 255);
  --jv-theme-warning-color: #a03b00;
  --jv-theme-warning-on-color: rgb(255 255 255);
  --jv-theme-warning-color-container: rgb(201 76 0);
  --jv-theme-warning-on-color-container: rgb(255 251 255);
  --jv-theme-success-color: #00651d;
  --jv-theme-success-on-color: rgb(255 255 255);
  --jv-theme-success-color-container: rgb(0 129 39);
  --jv-theme-success-on-color-container: rgb(211 255 204);
}
