@use 'sass:color';
@use 'sass:map';

// 基础颜色定义
$color-white: #fff;
$color-black: #000000a3;
$color-primary: #067d75;
$color-text: #333;

// 灰色系列
$color-gray-50: #fafafa;
$color-gray-100: #f5f5f5;
$color-gray-200: #e5e5e5;
$color-gray-300: #d4d4d4;
$color-gray-400: #a3a3a3;
$color-gray-500: #737373;
$color-gray-600: #525252;
$color-gray-700: #404040;
$color-gray-800: #262626;
$color-gray-900: #171717;
$theme-colors: (
  'light': (
    'primary': #067d75,
    'secondary': #015751,
    'neutral': #f0f0f0,
    'error': #b50c00,
    'warning': #b84214,
    'success': #005617,
    'info': #0056b8,
    'background': #f5f5f5,
    'surface': #fff,
    'on-primary': #fff,
    'on-secondary': #fff,
    'on-accent': #fff,
    'on-neutral': #fff,
    'on-error': #fff,
    'on-warning': #fff,
    'on-success': #fff,
    'on-info': #fff,
    'on-background': #282828,
    'on-surface': #121212,
  ),
  'dark': (
    'primary': #4cada4,
    'secondary': #00b2a6,
    'neutral': #f0f0f0,
    'error': #ff564c,
    'warning': #ec6e33,
    'success': #0cd748,
    'info': #07f,
    'background': #282828,
    'surface': #121212,
    'on-primary': #fff,
    'on-secondary': #fff,
    'on-accent': #fff,
    'on-neutral': #fff,
    'on-error': #fff,
    'on-warning': #fff,
    'on-success': #fff,
    'on-info': #fff,
    'on-background': #fff,
    'on-surface': #fff,
  ),
);
$light-colors: map.get($theme-colors, 'light');
$dark-colors: map.get($theme-colors, 'dark');

@function create-rgb($clr) {
  @return #{color.channel($clr, 'red')}, #{color.channel($clr, 'green')}, #{color.channel($clr, 'blue')};
}

// 循环生成css变量
@each $theme, $colors in $theme-colors {
  @if $theme == 'dark' {
    [data-theme='#{$theme}'] {
      color-scheme: #{$theme};

      @each $color, $value in $colors {
        --jv-theme-#{$color}: #{$value};
      }
    }
  }

  @if $theme == 'light' {
    :root {
      @each $color, $value in $colors {
        --jv-theme-#{$color}: #{$value};
      }
    }
  }
}
