@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';

// 暗黑主题变量
$dark-theme: (
  // 主要颜色
  primary: rgb(121, 214, 204),
  surface-tint: rgb(121, 214, 204),
  on-primary: rgb(0, 55, 51),
  primary-container: rgb(0, 80, 75),
  on-primary-container: rgb(150, 243, 233),
  // 次要颜色
  secondary: rgb(170, 206, 200),
  on-secondary: rgb(15, 41, 38),
  secondary-container: rgb(44, 76, 73),
  on-secondary-container: rgb(198, 234, 228),
  // 第三颜色
  tertiary: rgb(215, 186, 255),
  on-tertiary: rgb(60, 38, 93),
  tertiary-container: rgb(83, 59, 118),
  on-tertiary-container: rgb(237, 220, 255),
  // 错误颜色
  error: rgb(255, 180, 171),
  on-error: rgb(105, 0, 5),
  error-container: rgb(147, 0, 10),
  on-error-container: rgb(255, 218, 214),
  // 背景和表面
  background: rgb(24, 28, 28),
  on-background: rgb(223, 227, 226),
  surface: rgb(24, 28, 28),
  on-surface: rgb(223, 227, 226),
  surface-variant: rgb(62, 73, 71),
  on-surface-variant: rgb(189, 201, 198),
  // 轮廓
  outline: rgb(136, 147, 145),
  outline-variant: rgb(62, 73, 71),
  // 阴影和遮罩
  shadow: rgb(0, 0, 0),
  scrim: rgb(0, 0, 0),
  // 反转颜色
  inverse-surface: rgb(223, 227, 226),
  inverse-on-surface: rgb(45, 49, 48),
  inverse-primary: rgb(0, 106, 99),
  // 固定主要颜色
  primary-fixed: rgb(150, 243, 233),
  on-primary-fixed: rgb(0, 32, 29),
  primary-fixed-dim: rgb(121, 214, 204),
  on-primary-fixed-variant: rgb(0, 80, 75),
  // 固定次要颜色
  secondary-fixed: rgb(198, 234, 228),
  on-secondary-fixed: rgb(0, 32, 29),
  secondary-fixed-dim: rgb(170, 206, 200),
  on-secondary-fixed-variant: rgb(44, 76, 73),
  // 固定第三颜色
  tertiary-fixed: rgb(237, 220, 255),
  on-tertiary-fixed: rgb(38, 11, 72),
  tertiary-fixed-dim: rgb(215, 186, 255),
  on-tertiary-fixed-variant: rgb(83, 59, 118),
  // 表面容器
  surface-dim: rgb(18, 22, 22),
  surface-bright: rgb(53, 58, 57),
  surface-container-lowest: rgb(12, 16, 16),
  surface-container-low: rgb(24, 28, 28),
  surface-container: rgb(29, 33, 32),
  surface-container-high: rgb(39, 44, 43),
  surface-container-highest: rgb(50, 54, 53),
  // 信息颜色
  info-color: rgb(170, 190, 255),
  info-on-color: rgb(0, 24, 69),
  info-color-container: rgb(0, 36, 98),
  info-on-color-container: rgb(205, 219, 255),
  // 警告颜色
  warning-color: rgb(255, 183, 134),
  warning-on-color: rgb(80, 26, 0),
  warning-color-container: rgb(114, 40, 0),
  warning-on-color-container: rgb(255, 220, 198),
  // 成功颜色
  success-color: rgb(103, 228, 128),
  success-on-color: rgb(0, 34, 5),
  success-color-container: rgb(0, 50, 9),
  success-on-color-container: rgb(131, 255, 155)
);

// 使用SCSS生成CSS变量
.dark {
  // 基本颜色变量
  @each $key, $value in $dark-theme {
    --jv-theme-color-#{$key}: #{$value};

    // 为RGB值创建单独的变量，用于透明度调整
    @if meta.type-of($value) == 'color' {
      // 提取RGB值（不含alpha通道）
      $r: color.red($value);
      $g: color.green($value);
      $b: color.blue($value);

      --jv-theme-color-#{$key}-rgb: #{$r} #{$g} #{$b};
    }
  }
}
